In [2]:
from meta_model import *

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score
from sklearn.base import BaseEstimator, RegressorMixin, clone
from sklearn.utils import check_random_state
from sklearn.model_selection import KFold

In [4]:
# --- CARGA DE DATOS ---
house_prices_df = pd.read_csv("../data/house_prices.csv")
parkinsons_df = pd.read_csv("../data/parkinsons.csv")

In [5]:
# Eliminamos filas con valores faltantes
house_prices_df = house_prices_df.dropna()
parkinsons_df = parkinsons_df.dropna()

In [6]:
# --- PREPROCESADO HOUSE_PRICES ---
X_house = house_prices_df.drop(columns="SalePrice").copy()
y_house = house_prices_df["SalePrice"].copy()

In [7]:
# Codificar atributos con OrdinalEncoder
cat_cols = X_house.select_dtypes(include="object").columns
X_house[cat_cols] = OrdinalEncoder().fit_transform(X_house[cat_cols])

In [8]:
# --- PREPROCESADO PARKINSONS ---
X_park = parkinsons_df.drop(columns="total_UPDRS").copy()
y_park = parkinsons_df["total_UPDRS"].copy()

In [9]:
normalizador = MinMaxScaler(
    # Cada atributo se normaliza al intervalo [0, 1]
    feature_range=(0, 1)
)

In [10]:
# Normalizar atributos House Prices
X_house_normalizados = X_house.copy()
X_house_normalizados[:] = normalizador.fit_transform(X_house_normalizados)

In [11]:
# Normalizar atributos Parkinson
X_park_normalizados = X_park.copy()
X_park_normalizados[:] = normalizador.fit_transform(X_park_normalizados)

In [12]:
# --- MOSTRAR DIMENSIONES RESULTANTES ---
print("HOUSE PRICES:", X_house.shape, y_house.shape)
print("PARKINSONS:", X_park.shape, y_park.shape)

HOUSE PRICES: (560, 37) (560,)
PARKINSONS: (2000, 19) (2000,)

In [13]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)

In [14]:
# Modelo base DecisionTreeRegressor
modelo_base = DecisionTreeRegressor(max_depth=5, random_state=42)

In [15]:
# Modelo base. Dataset: Parkinson
r2_base_park = cross_val_score(modelo_base, X_park, y_park, cv=kf, scoring='r2')
print("Modelo base (Parkinson) - R² medio:", np.round(r2_base_park.mean(), 4))

Modelo base (Parkinson) - R² medio: 0.4939

In [16]:
# Entrenamiento y validación cruzada con dataset de Parkinson
model = SequentialEnsembleRegressor(
    base_estimator=DecisionTreeRegressor(max_depth=5),
    n_estimators=100,
    sample_size=0.8,
    lr=0.1,
    random_state=42,
)

scores = cross_val_score(model, X_park.values, y_park.values, cv=kf, scoring='r2')

print("R² medio (Parkinson):", np.round(scores.mean(), 4))

R² medio (Parkinson): 0.8865

In [65]:
# Valores a explorar manualmente
param_grid = {
    "n_estimators": [50, 100],
    "lr": [0.05, 0.1],
    "sample_size": [0.8],
    "max_depth": [3, 5, 10]
}

# Entrenamiento y validación cruzada con dataset de Parkinson y diferentes hiperparámetros
df_resultados = explorar_hiperparametros(
    estimator_class=DecisionTreeRegressor,
    param_grid=param_grid,
    X=X_park.values,
    y=y_park.values,
    cv=kf
)

# Mostrar resultados
df_resultados

    n_estimators    lr  sample_size  max_depth  r2_mean
8            100  0.05          0.8         10   0.9403
5             50  0.10          0.8         10   0.9346
11           100  0.10          0.8         10   0.9325
2             50  0.05          0.8         10   0.9195
10           100  0.10          0.8          5   0.8875
7            100  0.05          0.8          5   0.8526
4             50  0.10          0.8          5   0.8460
1             50  0.05          0.8          5   0.7771
9            100  0.10          0.8          3   0.7576
3             50  0.10          0.8          3   0.6698
6            100  0.05          0.8          3   0.6588
0             50  0.05          0.8          3   0.5538

In [21]:
# Modelo base. Dataset: House Prices
r2_base_house = cross_val_score(modelo_base, X_house, y_house, cv=kf, scoring='r2')
print("Modelo base (House Prices) - R² medio:", np.round(r2_base_house.mean(), 4))

Modelo base (House Prices) - R² medio: 0.5256

In [22]:
# Entrenamiento y validación cruzada con dataset de House Prices
model = SequentialEnsembleRegressor(
    base_estimator=DecisionTreeRegressor(max_depth=5),
    n_estimators=100,
    sample_size=0.8,
    lr=0.1,
    random_state=42,
)

scores = cross_val_score(model, X_house.values, y_house.values, cv=kf, scoring='r2')

print("R² medio (House Prices):", np.round(scores.mean(), 4))

R² medio (House Prices): 0.7442

In [21]:
# Valores a explorar manualmente
param_grid = {
    "n_estimators": [50, 100, 120],
    "lr": [0.05, 0.1],
    "sample_size": [0.6, 0.8, 1.0],
    "max_depth": [3, 5, 10]
}

# Entrenamiento y validación cruzada con dataset de Parkinson y diferentes hiperparámetros
df_resultados = explorar_hiperparametros(
    estimator_class=DecisionTreeRegressor,
    param_grid=param_grid,
    X=X_house.values,
    y=y_house.values,
    cv=kf
)

# Mostrar resultados
df_resultados

    n_estimators    lr  sample_size  max_depth  r2_mean
13            50  0.10          0.8          5   0.7688
40           120  0.05          0.8          5   0.7631
22           100  0.05          0.8          5   0.7625
28           100  0.10          0.6          5   0.7597
11            50  0.10          0.6         10   0.7556
31           100  0.10          0.8          5   0.7554
10            50  0.10          0.6          5   0.7516
49           120  0.10          0.8          5   0.7471
20           100  0.05          0.6         10   0.7462
46           120  0.10          0.6          5   0.7459
47           120  0.10          0.6         10   0.7443
2             50  0.05          0.6         10   0.7439
16            50  0.10          1.0          5   0.7435
37           120  0.05          0.6          5   0.7432
19           100  0.05          0.6          5   0.7425
52           120  0.10          1.0          5   0.7424
42           120  0.05          1.0          3   0.7413
33           100  0.10          1.0          3   0.7413
38           120  0.05          0.6         10   0.7412
29           100  0.10          0.6         10   0.7405
4             50  0.05          0.8          5   0.7385
39           120  0.05          0.8          3   0.7383
43           120  0.05          1.0          5   0.7383
51           120  0.10          1.0          3   0.7374
30           100  0.10          0.8          3   0.7366
25           100  0.05          1.0          5   0.7362
21           100  0.05          0.8          3   0.7357
34           100  0.10          1.0          5   0.7354
36           120  0.05          0.6          3   0.7350
45           120  0.10          0.6          3   0.7347
15            50  0.10          1.0          3   0.7335
1             50  0.05          0.6          5   0.7331
48           120  0.10          0.8          3   0.7320
3             50  0.05          0.8          3   0.7311
24           100  0.05          1.0          3   0.7309
18           100  0.05          0.6          3   0.7309
7             50  0.05          1.0          5   0.7217
6             50  0.05          1.0          3   0.7180
14            50  0.10          0.8         10   0.7174
0             50  0.05          0.6          3   0.7138
41           120  0.05          0.8         10   0.7120
12            50  0.10          0.8          3   0.7116
9             50  0.10          0.6          3   0.7106
50           120  0.10          0.8         10   0.7091
32           100  0.10          0.8         10   0.7080
5             50  0.05          0.8         10   0.7065
23           100  0.05          0.8         10   0.7062
27           100  0.10          0.6          3   0.7026
35           100  0.10          1.0         10   0.6184
8             50  0.05          1.0         10   0.6179
44           120  0.05          1.0         10   0.6091
26           100  0.05          1.0         10   0.6091
17            50  0.10          1.0         10   0.6070
53           120  0.10          1.0         10   0.6032

In [22]:
# Valores a explorar manualmente
param_grid = {
    "n_estimators": [100, 150, 200],
    "lr": [0.01, 0.02, 0.05],
    "sample_size": [0.7, 0.8, 0.85, 0.9],
    "max_depth": [5, 6, 7]
}

# Entrenamiento y validación cruzada con dataset de Parkinson y diferentes hiperparámetros
df_resultados = explorar_hiperparametros(
    estimator_class=DecisionTreeRegressor,
    param_grid=param_grid,
    X=X_house.values,
    y=y_house.values,
    cv=kf
)

# Mostrar resultados
df_resultados

    n_estimators    lr  sample_size  max_depth  r2_mean
66           150  0.05         0.85          5   0.7664
69           150  0.05         0.90          5   0.7651
63           150  0.05         0.80          5   0.7637
27           100  0.05         0.80          5   0.7618
99           200  0.05         0.80          5   0.7592
..           ...   ...          ...        ...      ...
0            100  0.01         0.70          5   0.6223
10           100  0.01         0.90          6   0.6208
3            100  0.01         0.80          5   0.6201
6            100  0.01         0.85          5   0.6196
9            100  0.01         0.90          5   0.6177

[108 rows x 5 columns]

In [23]:
# Valores a explorar manualmente
param_grid = {
    "n_estimators": [50, 100, 150],
    "lr": [0.05, 0.1],
    "sample_size": [0.8, 0.85, 0.9],
    "max_depth": [5, 6, 7]
}

# Entrenamiento y validación cruzada con dataset de Parkinson y diferentes hiperparámetros
df_resultados = explorar_hiperparametros(
    estimator_class=DecisionTreeRegressor,
    param_grid=param_grid,
    X=X_house.values,
    y=y_house.values,
    cv=kf
)

# Mostrar resultados
df_resultados

    n_estimators    lr  sample_size  max_depth  r2_mean
30           100  0.10         0.85          5   0.7665
31           100  0.10         0.85          6   0.7652
12            50  0.10         0.85          5   0.7620
33           100  0.10         0.90          5   0.7619
24           100  0.05         0.90          5   0.7571
27           100  0.10         0.80          5   0.7569
36           150  0.05         0.80          5   0.7565
15            50  0.10         0.90          5   0.7564
49           150  0.10         0.85          6   0.7563
34           100  0.10         0.90          6   0.7557
21           100  0.05         0.85          5   0.7553
18           100  0.05         0.80          5   0.7521
42           150  0.05         0.90          5   0.7516
40           150  0.05         0.85          6   0.7497
39           150  0.05         0.85          5   0.7497
9             50  0.10         0.80          5   0.7492
48           150  0.10         0.85          5   0.7483
52           150  0.10         0.90          6   0.7471
25           100  0.05         0.90          6   0.7463
37           150  0.05         0.80          6   0.7457
0             50  0.05         0.80          5   0.7447
35           100  0.10         0.90          7   0.7445
51           150  0.10         0.90          5   0.7444
19           100  0.05         0.80          6   0.7423
3             50  0.05         0.85          5   0.7412
43           150  0.05         0.90          6   0.7412
7             50  0.05         0.90          6   0.7400
1             50  0.05         0.80          6   0.7390
50           150  0.10         0.85          7   0.7387
23           100  0.05         0.85          7   0.7379
13            50  0.10         0.85          6   0.7376
22           100  0.05         0.85          6   0.7376
10            50  0.10         0.80          6   0.7365
16            50  0.10         0.90          6   0.7358
6             50  0.05         0.90          5   0.7357
45           150  0.10         0.80          5   0.7357
38           150  0.05         0.80          7   0.7346
14            50  0.10         0.85          7   0.7345
44           150  0.05         0.90          7   0.7341
28           100  0.10         0.80          6   0.7334
41           150  0.05         0.85          7   0.7333
4             50  0.05         0.85          6   0.7296
11            50  0.10         0.80          7   0.7290
17            50  0.10         0.90          7   0.7283
32           100  0.10         0.85          7   0.7275
46           150  0.10         0.80          6   0.7269
5             50  0.05         0.85          7   0.7267
2             50  0.05         0.80          7   0.7259
8             50  0.05         0.90          7   0.7237
26           100  0.05         0.90          7   0.7234
47           150  0.10         0.80          7   0.7225
29           100  0.10         0.80          7   0.7221
20           100  0.05         0.80          7   0.7203
53           150  0.10         0.90          7   0.7163

In [73]:
# Valores a explorar manualmente
param_grid = {
    "n_estimators": [50, 100, 150],
    "lr": [0.05, 0.075, 0.1],
    "sample_size": [0.8, 0.85, 0.9],
    "max_depth": [4, 5, 6]
}

# Entrenamiento y validación cruzada con dataset de Parkinson y diferentes hiperparámetros
df_resultados = explorar_hiperparametros(
    estimator_class=DecisionTreeRegressor,
    param_grid=param_grid,
    X=X_house.values,
    y=y_house.values,
    cv=kf
)

# Mostrar resultados
df_resultados

    n_estimators     lr  sample_size  max_depth  r2_mean
49           100  0.100         0.85          5   0.7738
76           150  0.100         0.85          5   0.7684
67           150  0.075         0.85          5   0.7683
69           150  0.075         0.90          4   0.7639
60           150  0.050         0.90          4   0.7637
..           ...    ...          ...        ...      ...
29           100  0.050         0.80          6   0.7355
59           150  0.050         0.85          6   0.7339
0             50  0.050         0.80          4   0.7318
74           150  0.100         0.80          6   0.7317
20            50  0.100         0.80          6   0.7271

[81 rows x 5 columns]

In [23]:
# Modelo base: LinearRegression
modelo_base_lr = LinearRegression()

In [24]:
# Modelo base. Dataset Parkinson
r2_base_park = cross_val_score(modelo_base_lr, X_park_normalizados, y_park, cv=kf, scoring='r2')
print("Modelo base (LinearRegression - Parkinson) - R² medio:", np.round(r2_base_park.mean(), 4))

Modelo base (LinearRegression - Parkinson) - R² medio: 0.168

In [25]:
# Entrenamiento y validación cruzada con dataset de Parkinson
model = SequentialEnsembleRegressor(
    base_estimator=LinearRegression(),
    n_estimators=100,
    sample_size=0.8,
    lr=0.1,
    random_state=42,
)

scores = cross_val_score(model, X_park_normalizados.values, y_park.values, cv=kf, scoring='r2')

print("R² medio (Parkinson):", np.round(scores.mean(), 4))

R² medio (Parkinson): 0.1625

In [74]:
# Valores a explorar manualmente
param_grid = {
    "n_estimators": [50, 100, 150],
    "lr": [0.05, 0.075, 0.1],
    "sample_size": [0.8, 0.85, 0.9],
}

# Entrenamiento y validación cruzada con dataset de Parkinson y diferentes hiperparámetros
df_resultados = explorar_hiperparametros(
    estimator_class=LinearRegression,
    param_grid=param_grid,
    X=X_park_normalizados.values,
    y=y_park.values,
    cv=kf
)

# Mostrar resultados
df_resultados

    n_estimators     lr  sample_size max_depth  r2_mean
25           150  0.100         0.85      None   0.1689
24           150  0.100         0.80      None   0.1688
22           150  0.075         0.85      None   0.1687
21           150  0.075         0.80      None   0.1685
26           150  0.100         0.90      None   0.1683
19           150  0.050         0.85      None   0.1683
23           150  0.075         0.90      None   0.1681
18           150  0.050         0.80      None   0.1680
20           150  0.050         0.90      None   0.1679
2             50  0.050         0.90      None   0.1677
5             50  0.075         0.90      None   0.1672
8             50  0.100         0.90      None   0.1669
1             50  0.050         0.85      None   0.1668
0             50  0.050         0.80      None   0.1667
4             50  0.075         0.85      None   0.1663
3             50  0.075         0.80      None   0.1663
6             50  0.100         0.80      None   0.1662
7             50  0.100         0.85      None   0.1661
11           100  0.050         0.90      None   0.1658
10           100  0.050         0.85      None   0.1658
13           100  0.075         0.85      None   0.1653
14           100  0.075         0.90      None   0.1652
16           100  0.100         0.85      None   0.1648
17           100  0.100         0.90      None   0.1648
9            100  0.050         0.80      None   0.1639
12           100  0.075         0.80      None   0.1631
15           100  0.100         0.80      None   0.1625

In [45]:
# Entrenamiento y validación cruzada con dataset de House Prices
model = SequentialEnsembleRegressor(
    base_estimator=LinearRegression(),
    n_estimators=100,
    sample_size=0.8,
    lr=0.1,
    random_state=42,
)

scores = cross_val_score(model, X_house_normalizados.values, y_house.values, cv=kf, scoring='r2')

print("R² medio (House Prices):", np.round(scores.mean(), 4))

R² medio (House Prices): 0.7058

In [75]:
# Valores a explorar manualmente
param_grid = {
    "n_estimators": [50, 100, 150],
    "lr": [0.05, 0.075, 0.1],
    "sample_size": [0.8, 0.85, 0.9],
}

# Entrenamiento y validación cruzada con dataset de Parkinson y diferentes hiperparámetros
df_resultados = explorar_hiperparametros(
    estimator_class=LinearRegression,
    param_grid=param_grid,
    X=X_house_normalizados.values,
    y=y_house.values,
    cv=kf
)

# Mostrar resultados
df_resultados

    n_estimators     lr  sample_size max_depth  r2_mean
16           100  0.100         0.85      None   0.7062
17           100  0.100         0.90      None   0.7058
15           100  0.100         0.80      None   0.7058
14           100  0.075         0.90      None   0.7052
13           100  0.075         0.85      None   0.7051
11           100  0.050         0.90      None   0.7049
12           100  0.075         0.80      None   0.7045
10           100  0.050         0.85      None   0.7043
9            100  0.050         0.80      None   0.7034
25           150  0.100         0.85      None   0.7014
19           150  0.050         0.85      None   0.7012
22           150  0.075         0.85      None   0.7011
26           150  0.100         0.90      None   0.7007
20           150  0.050         0.90      None   0.7006
23           150  0.075         0.90      None   0.7004
2             50  0.050         0.90      None   0.7000
18           150  0.050         0.80      None   0.6971
1             50  0.050         0.85      None   0.6963
21           150  0.075         0.80      None   0.6959
24           150  0.100         0.80      None   0.6953
0             50  0.050         0.80      None   0.6946
5             50  0.075         0.90      None   0.6939
8             50  0.100         0.90      None   0.6914
4             50  0.075         0.85      None   0.6902
3             50  0.075         0.80      None   0.6886
7             50  0.100         0.85      None   0.6878
6             50  0.100         0.80      None   0.6862

In [66]:
# Entrenamiento y validación cruzada con dataset de Parkinson
model = SequentialEnsembleRegressor(
    base_estimator=Ridge,
    n_estimators=20,
    sample_size=0.8,
    lr=0.1,
    random_state=42,
)

scores = cross_val_score(model, X_park_normalizados.values, y_park.values, cv=kf, scoring='r2')

print("R² medio (Parkinson):", np.round(scores.mean(), 4))

R² medio (Parkinson): 0.1706

In [76]:
# Valores a explorar manualmente
param_grid = {
    "n_estimators": [50, 100, 150],
    "lr": [0.05, 0.075, 0.1],
    "sample_size": [0.8, 0.85, 0.9],
}

# Entrenamiento y validación cruzada con dataset de Parkinson y diferentes hiperparámetros
df_resultados = explorar_hiperparametros(
    estimator_class=Ridge,
    param_grid=param_grid,
    X=X_park_normalizados.values,
    y=y_park.values,
    cv=kf
)

# Mostrar resultados
df_resultados

    n_estimators     lr  sample_size max_depth  r2_mean
5             50  0.075         0.90      None   0.1727
2             50  0.050         0.90      None   0.1725
3             50  0.075         0.80      None   0.1725
4             50  0.075         0.85      None   0.1725
0             50  0.050         0.80      None   0.1723
1             50  0.050         0.85      None   0.1723
8             50  0.100         0.90      None   0.1720
10           100  0.050         0.85      None   0.1719
19           150  0.050         0.85      None   0.1718
7             50  0.100         0.85      None   0.1717
11           100  0.050         0.90      None   0.1717
6             50  0.100         0.80      None   0.1717
18           150  0.050         0.80      None   0.1716
9            100  0.050         0.80      None   0.1715
20           150  0.050         0.90      None   0.1715
22           150  0.075         0.85      None   0.1714
21           150  0.075         0.80      None   0.1713
25           150  0.100         0.85      None   0.1712
24           150  0.100         0.80      None   0.1712
23           150  0.075         0.90      None   0.1710
13           100  0.075         0.85      None   0.1709
26           150  0.100         0.90      None   0.1708
14           100  0.075         0.90      None   0.1706
16           100  0.100         0.85      None   0.1704
12           100  0.075         0.80      None   0.1702
17           100  0.100         0.90      None   0.1700
15           100  0.100         0.80      None   0.1694

In [68]:
# Entrenamiento y validación cruzada con dataset de House Prices
model = SequentialEnsembleRegressor(
    base_estimator=Ridge(alpha=1.0),
    n_estimators=100,
    sample_size=0.8,
    lr=0.1,
    random_state=42,
)

scores = cross_val_score(model, X_house_normalizados.values, y_house.values, cv=kf, scoring='r2')

print("R² medio (House Prices):", np.round(scores.mean(), 4))

R² medio (House Prices): 0.7088

In [72]:
# Valores a explorar manualmente
param_grid = {
    "n_estimators": [25, 50, 100],
    "lr": [0.05, 0.075, 0.1],
    "sample_size": [0.8, 0.85, 0.9],
}

# Entrenamiento y validación cruzada con dataset de Parkinson y diferentes hiperparámetros
df_resultados = explorar_hiperparametros(
    estimator_class=Ridge,
    param_grid=param_grid,
    X=X_house_normalizados.values,
    y=y_house.values,
    cv=kf
)

# Mostrar resultados
df_resultados

    n_estimators     lr  sample_size max_depth  r2_mean
6             25  0.100         0.80      None   0.7186
7             25  0.100         0.85      None   0.7180
9             50  0.050         0.80      None   0.7177
10            50  0.050         0.85      None   0.7176
11            50  0.050         0.90      None   0.7176
8             25  0.100         0.90      None   0.7175
3             25  0.075         0.80      None   0.7153
4             25  0.075         0.85      None   0.7148
5             25  0.075         0.90      None   0.7147
14            50  0.075         0.90      None   0.7127
13            50  0.075         0.85      None   0.7123
12            50  0.075         0.80      None   0.7122
20           100  0.050         0.90      None   0.7113
18           100  0.050         0.80      None   0.7110
19           100  0.050         0.85      None   0.7109
23           100  0.075         0.90      None   0.7097
17            50  0.100         0.90      None   0.7094
22           100  0.075         0.85      None   0.7093
26           100  0.100         0.90      None   0.7093
21           100  0.075         0.80      None   0.7092
25           100  0.100         0.85      None   0.7091
24           100  0.100         0.80      None   0.7088
16            50  0.100         0.85      None   0.7086
15            50  0.100         0.80      None   0.7082
2             25  0.050         0.90      None   0.6836
0             25  0.050         0.80      None   0.6832
1             25  0.050         0.85      None   0.6831

In [15]:
# Modelo base: KNeighborsRegressor
modelo_base_knn = KNeighborsRegressor(n_neighbors=7)

In [16]:
# Modelo base. Dataset Parkinson
r2_base_park = cross_val_score(modelo_base_knn, X_park_normalizados, y_park, cv=kf, scoring='r2')
print("Modelo base (KNN - Parkinson) - R² medio:", np.round(r2_base_park.mean(), 4))

Modelo base (KNN - Parkinson) - R² medio: 0.5155

In [17]:
# Entrenamiento y validación cruzada con dataset de Parkinson
model = SequentialEnsembleRegressor(
    base_estimator=KNeighborsRegressor(n_neighbors=10),
    n_estimators=200,
    sample_size=0.8,
    lr=0.01,
    random_state=42,
)

scores = cross_val_score(model, X_park_normalizados.values, y_park.values, cv=kf, scoring='r2')

print("R² medio (House Prices):", np.round(scores.mean(), 4))

R² medio (House Prices): 0.4929

In [18]:
# Valores a explorar manualmente
param_grid = {
    "n_estimators": [200, 400],
    "lr": [0.005, 0.01],
    "sample_size": [0.7, 0.8],
    "n_neighbors": [5, 7],
    "metric": ["euclidean", "manhattan"]
}

# Entrenamiento y validación cruzada con dataset de Parkinson y diferentes hiperparámetros
df_resultados = explorar_hiperparametros_knn(
    param_grid=param_grid,
    X=X_park_normalizados.values,
    y=y_park.values,
    cv=kf
)

# Mostrar resultados
df_resultados

    n_estimators     lr  sample_size  n_neighbors     metric  r2_mean
9            200  0.010          0.7            5  manhattan   0.5763
17           400  0.005          0.7            5  manhattan   0.5754
21           400  0.005          0.8            5  manhattan   0.5716
13           200  0.010          0.8            5  manhattan   0.5714
11           200  0.010          0.7            7  manhattan   0.5700
19           400  0.005          0.7            7  manhattan   0.5698
23           400  0.005          0.8            7  manhattan   0.5688
15           200  0.010          0.8            7  manhattan   0.5688
5            200  0.005          0.8            5  manhattan   0.5103
16           400  0.005          0.7            5  euclidean   0.5070
8            200  0.010          0.7            5  euclidean   0.5068
10           200  0.010          0.7            7  euclidean   0.5060
18           400  0.005          0.7            7  euclidean   0.5058
27           400  0.010          0.7            7  manhattan   0.5045
14           200  0.010          0.8            7  euclidean   0.5042
22           400  0.005          0.8            7  euclidean   0.5039
1            200  0.005          0.7            5  manhattan   0.5034
20           400  0.005          0.8            5  euclidean   0.4979
12           200  0.010          0.8            5  euclidean   0.4977
7            200  0.005          0.8            7  manhattan   0.4905
3            200  0.005          0.7            7  manhattan   0.4821
4            200  0.005          0.8            5  euclidean   0.4689
31           400  0.010          0.8            7  manhattan   0.4666
0            200  0.005          0.7            5  euclidean   0.4639
6            200  0.005          0.8            7  euclidean   0.4531
25           400  0.010          0.7            5  manhattan   0.4519
2            200  0.005          0.7            7  euclidean   0.4443
29           400  0.010          0.8            5  manhattan   0.4001
26           400  0.010          0.7            7  euclidean   0.3888
30           400  0.010          0.8            7  euclidean   0.3392
24           400  0.010          0.7            5  euclidean   0.3142
28           400  0.010          0.8            5  euclidean   0.2471

In [19]:
# Modelo base. Dataset House Prices
r2_base_house = cross_val_score(modelo_base_knn, X_house_normalizados, y_house, cv=kf, scoring='r2')
print("Modelo base (KNN - House Prices) - R² medio:", np.round(r2_base_house.mean(), 4))

Modelo base (KNN - House Prices) - R² medio: 0.6707

In [20]:
# Entrenamiento y validación cruzada con dataset de House Prices
model = SequentialEnsembleRegressor(
    base_estimator=KNeighborsRegressor(n_neighbors=7),
    n_estimators=400,
    sample_size=0.8,
    lr=0.005,
    random_state=42,
)

scores = cross_val_score(model, X_house_normalizados.values, y_house.values, cv=kf, scoring='r2')

print("R² medio (House Prices):", np.round(scores.mean(), 4))

R² medio (House Prices): 0.679

In [21]:
# Valores a explorar manualmente
param_grid = {
    "n_estimators": [200, 400],
    "lr": [0.005, 0.01],
    "sample_size": [0.7, 0.8],
    "n_neighbors": [5, 7],
    "metric": ["euclidean", "manhattan"]
}

# Entrenamiento y validación cruzada con dataset de Parkinson y diferentes hiperparámetros
df_resultados = explorar_hiperparametros_knn(
    param_grid=param_grid,
    X=X_house_normalizados.values,
    y=y_house.values,
    cv=kf
)

# Mostrar resultados
df_resultados

    n_estimators     lr  sample_size  n_neighbors     metric  r2_mean
19           400  0.005          0.7            7  manhattan   0.6976
11           200  0.010          0.7            7  manhattan   0.6972
23           400  0.005          0.8            7  manhattan   0.6938
15           200  0.010          0.8            7  manhattan   0.6930
10           200  0.010          0.7            7  euclidean   0.6863
18           400  0.005          0.7            7  euclidean   0.6862
17           400  0.005          0.7            5  manhattan   0.6856
9            200  0.010          0.7            5  manhattan   0.6849
27           400  0.010          0.7            7  manhattan   0.6810
22           400  0.005          0.8            7  euclidean   0.6790
14           200  0.010          0.8            7  euclidean   0.6787
26           400  0.010          0.7            7  euclidean   0.6775
21           400  0.005          0.8            5  manhattan   0.6754
13           200  0.010          0.8            5  manhattan   0.6748
16           400  0.005          0.7            5  euclidean   0.6673
8            200  0.010          0.7            5  euclidean   0.6668
31           400  0.010          0.8            7  manhattan   0.6629
20           400  0.005          0.8            5  euclidean   0.6531
12           200  0.010          0.8            5  euclidean   0.6523
30           400  0.010          0.8            7  euclidean   0.6469
25           400  0.010          0.7            5  manhattan   0.6452
29           400  0.010          0.8            5  manhattan   0.6193
24           400  0.010          0.7            5  euclidean   0.6134
7            200  0.005          0.8            7  manhattan   0.5924
3            200  0.005          0.7            7  manhattan   0.5917
1            200  0.005          0.7            5  manhattan   0.5913
5            200  0.005          0.8            5  manhattan   0.5884
6            200  0.005          0.8            7  euclidean   0.5800
0            200  0.005          0.7            5  euclidean   0.5784
2            200  0.005          0.7            7  euclidean   0.5779
4            200  0.005          0.8            5  euclidean   0.5764
28           400  0.010          0.8            5  euclidean   0.5675